{
  "presets": [
      "@babel/preset-react",
      "@babel/preset-flow",
      "module:metro-react-native-babel-preset",
      [
          "@babel/preset-env",
          {
              "targets": {
                  "browsers": "last 2 versions"
              },
              "modules": false,
              "loose": false
          }
      ]
  ],
  "plugins": [
      "transform-class-properties",
      "@babel/plugin-syntax-flow",
      ["@babel/plugin-proposal-private-methods", { "loose": true }],
      ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
      "test": {
          "plugins": [
              "transform-es2015-modules-commonjs"
          ]
      }
  }
}